#red{
	background-color: red;
}

#blue{
	background-color: blue;
}

#green{
	background-color: green;
}
#orange{
	background-color: orange;
}

#black{
	background-color: black;
}

#content{
	margin-top: 100px
}